/* Body styles */
body {
    background-color: #ffffff; /* background color */
    color: #000000; /* text color */
}

/* Card styles */
.w3-card-2 {
    background-color: #fcf7f7; /* card color */
}

/* Light grey background styles */
.w3-light-grey {
    background-color: #f5f5f5; /* light grey background color */
}

/* Unordered list text color */
.w3-ul {
    color: #000000; /* text color in the list */
}

/* Input and button styles */
.w3-input,
.w3-btn {
    background-color: #999999; /* input and button color */
    color: #000000; /* text color in inputs and buttons */
}

/* Input and button focus styles */
.w3-input:focus,
.w3-btn:focus {
    background-color: #cccccc; /* color when input or button is focused/selected */
}

/* Padding and border styles */
.w3-padding-16 {
    border-bottom: 1px solid #fc0000; /* border color */
}

/* Add space between input and button */
.w3-margin-right {
    margin-right: 10px; /* adjust as per preference */
}