body {
    background-color: #333;
    color: #fff;
}

.w3-card-2 {
    background-color: #444;
}

.w3-light-grey {
    background-color: #555;
}

.w3-ul {
    color: #fff;
}

.w3-input,
.w3-btn {
    background-color: #777;
    color: #fff;
}

.w3-input:focus,
.w3-btn:focus {
    background-color: #999;
}

.w3-padding-16 {
    border-bottom: 1px solid #666;
}
